.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 24px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::ng-deep {
  .overlay-outer {
    position: absolute;
    padding: 10px;
    top: 0 !important;
    left: 40px !important;
    bottom: 0 !important;
    background-color: #eee;
  }

  .table {
    border-collapse: collapse;

    th,
    td {
      padding: 20px;
      border-bottom: 1px solid #ccc !important;
    }

    .selected {
      background-color: #aaa;
    }
  }
}
